.function-scheme {
  flex-grow: 2;
  display: inline-block;
  &__body {
    display: inline-block;
    &--drop-cursor {
      cursor: move;
    }
    &--standard-cursor {
      cursor: pointer;
    }
  }
}
