.argument-container {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &--border-visible {
    border: 3px solid green;
  }

  &--border-not-visible {
    border: 3px solid transparent;
  }
  &--border-underline-visible {
    border-bottom: 3px solid green;
  }
  &--border-underline-not-visible {
    border-bottom: 3px solid transparent;
  }

  &__actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s ease;
    &--hidden {
      opacity: 0%;
      transform: translateX(0%);
    }
    &--visible {
      opacity: 100%;
      transform: translateX(-3rem);
    }
  }
}
